
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
  body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F3FF ;
   
   
}
.main-container{
   display: flex;
 
   
}
header{
    display: flex;
    justify-content: center;
}
    .container{
        /* display: flex; 
        
        justify-content: space-between;*/
        background-color:#FFFFFF;
        width: 1500px;
        
    }
    .spacebetween{
        display: flex;
        
        justify-content: space-between;
    }
    /* main{
        display: flex;
        justify-content: center;
    } */
    .checkbtn{
        font-size: 30px;
        color: black;
        float: right;                      
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 20px;
        cursor: pointer;
        display: none;
    }
    nav .fa-cart-plus{
        font-size: 30px;
    }
    #check{
        display: none;
    }
    .htwotag{
        margin-left: 60px;
    }
    .anchor{
        margin-right: 60px;
        margin-top: 25px;
    }
    nav  a{
        text-decoration: none;
        margin: 10px;
        color: black;
        font-size: 18px; 
        text-transform: uppercase;
    }
     .fa-magnifying-glass{
        font-size: 25px;
    }
    .fa-cart-plus{
        font-size: 25px;
    } 
   
    /*---------------------------
     Section-two started
    -------------------------- */
    
    
    
    .htag{
        font-size: 40px;
        margin: 0;

    }
    
    .flex-flex{
        display: flex;
    }
    .half{
        margin-left: 60px;
        
    }
    .anc a{
        text-decoration: none;
        color: white;
        background-color: #E02C6D;
        padding:10px 25px;
        border-radius: 30px;
    }
    .halfh{
        margin-top: 70px;
        font-size: 35px;
    }
    .pp{
        width: 60%;
        font-size: 20px;
    }
    
   .half-img{
    margin-left: 60px;
    margin-top: 50px;
   }

   /*-------------------
   -------------------------
    Horizontal area'
    -------------------- */
   hr{
    
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, lightgray));
}

   /*-------------------------
         Brands sections
   ------------------------ */

   .brand{
   display: flex;
    justify-content: center;
   }
   .brand img{
    margin: 32px;
   }

   
/*-----------------------
Popular Collections
---------------------- */

.pop-coll{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.cameras{
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
 
    margin-right: 30px;
}
.camera1{
    margin: 20px;
    border-radius: 5px;
    /* box-shadow:10px  10.34229px 13.3557px rgba(0, 0, 0, 0.05); */
    box-shadow:5px 5px  5px 5px rgba(0, 0, 0, 0.05);
    margin-left: 60px;
    
}
.camera img{
    margin-left: 60px;
    margin-top: 20px;
   
}
.camera h2, h3{
    margin-left: 55px;
}

.camera h3{
   font-weight:normal; 
}
.camera h2{
    font-weight:normal; 
}
    .rating{
        color: orange;
        font-size: 12px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .ratings{
        display: flex;
    }
    .cam-info{
        color: #5E6366; 
        margin-left: 55px; 
    }
    .cam-info h4{
        width: 210px;
    }
    
    .color{
        display: flex;
        margin-left: 35px;
    }
    .color span{
        margin-left: 15px;
        color: #5E6366;
       
    }

    /*---------------------- Responsive ------------------ */

    @media only screen and (max-width: 1025px){
        .main-container{
         
            background-color: rgb(97, 73, 73);
            margin-top: 20px;
            

        }
        .container{
            width: 100%;
           
        }
       .half-img{
            width: 30%;
            margin-left: 140px;
        }
      .halfh{
     
        text-align: center;
        margin-right: 40px;
      }
      .half p{
        text-align: center;
      }
      .pp{
        width: 100%;
      }
       .anc a{
        align-items: center;
        justify-content: center;
       margin-left: 300px;
       border-width: 40px;
       position: absolute;
      } 

      /* .fa-arrow-right{
        display: flex;
        justify-content: center;
        align-items: center;
      } */

        .htwotag h2{
            display: flex;
            justify-content: center;
        }
        .flex-flex{
            margin-left: 90px; 
            flex-direction:column-reverse;
        }
        
        .camera img{
            width: 50%;
        }
        .brand img{
           width: 30%;
        }
        .brand{
            display: grid;
            grid-template-columns: repeat(4,1fr);     
        }
        .cameras{
            
            grid-template-columns: repeat(1,1fr);
            /* margin-left: 50px; */
            margin-right: 200px;
        }
        .camera1{
            margin-left: 300px;
          
        }
        .camera h2, h3{
            margin-left: 55px;
        }
        .color{
            margin-left: 55px;
        }
        .cam-info{
            margin-left: 55px;
        }

        .checkbtn{
            display: block;
        }
        .anchor{
            display: none;
        }
    }
    /* .cameras{
        display: none;
    } */
     /* .cameras{
        display: none;
    } */
    
