
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
  body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F3FF ;
   
   
}
.main-container{
   display: flex;
 
   
}
header{
    display: flex;
    justify-content: center;
}
    .container{
        /* display: flex; 
        
        justify-content: space-between;*/
        background-color:#FFFFFF;
        width: 1500px;
        
    }
    .spacebetween{
        display: flex;
        
        justify-content: space-between;
    }
    /* main{
        display: flex;
        justify-content: center;
    } */
    .htwotag{
        margin-left: 60px;
    }
    .anchor{
        margin-right: 60px;
    }
    .anchor a{
        text-decoration: none;
        margin: 10px;
        font-size: 18px;
        color: black;
        font-size: 18px; 
    }
    .fa-magnifying-glass{
        font-size: 25px;
    }
    .fa-cart-plus{
        font-size: 25px;
    }
    .anchor{
        margin-top: 25px;
    }
    /*---------------------------
     Section-two started
    -------------------------- */
    
    
    
    .htag{
        font-size: 40px;
        margin: 0;

    }
    
    .flex-flex{
        display: flex;
    }
    .half{
        margin-left: 60px;
        
    }
    .half a{
        text-decoration: none;
        color: white;
        background-color: #E02C6D;
        padding:10px 25px;
        border-radius: 30px;
    }
    .halfh{
        margin-top: 70px;
        font-size: 35px;
       
        width: 70%;
    }
    .pp{
        width: 60%;
    }
    
   .half-img{
    margin-left: 60px;
    margin-top: 50px;
   }

   /*-------------------
   -------------------------
    Horizontal area'
    -------------------- */
   hr{
    
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, lightgray));
}

   /*-------------------------
         Brands sections
   ------------------------ */

   .brand{
    display: flex;
    justify-content: center;
   }
   .brand img{
    margin: 32px;
   }

   
/*-----------------------
Popular Collections
---------------------- */

.pop-coll{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.cameras{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 130px;
    margin-right: 130px;
}
.camera1{
    margin: 20px;
    border-radius: 5px;
    /* box-shadow:10px  10.34229px 13.3557px rgba(0, 0, 0, 0.05); */
    box-shadow:5px 5px  5px 5px rgba(0, 0, 0, 0.05);
}
.camera img{
    margin-left: 35px;
    margin-top: 20px;
   
}
.camera h2, h3{
    margin-left: 35px;
}

.camera h3{
   font-weight:normal; 
}
.camera h2{
    font-weight:normal; 
}
    .rating{
        color: orange;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .ratings{
        display: flex;
    }
    .cam-info{
        color: #5E6366; 
        margin-left: 35px; 
    }
    .cam-info h4{
        width: 210px;
    }
    
    .color{
        display: flex;
        margin-left: 35px;
    }
    .color span{
        margin-left: 15px;
        color: #5E6366;
       
    }

    /*---------------------- Responsive ------------------ */

    @media only screen and (max-width: 1025px){
        .main-container{
         
            background-color: rgb(97, 73, 73);
            grid-template-columns: repeat(1,1fr);

        }
        .container{
            width: 100%;
        }
     
       .half-img{
            width: 30%;
        }
        /* .spacebetween{
            
        } */

        .htwotag h2{
            display: flex;
            justify-content: center;
        }
        .flex-flex{
            display: grid;
           
        }
        .camera img{
            width: 50%;
        }
    }
     .brands, .cameras{
        display: none;
    }
    
